<?xml version="1.0"?>
<launch>
    <node pkg="tello_driver" type="tello_driver_node" name="tello_driver_node" output="screen" respawn="false" respawn_delay="0">
        <remap from="/tello_driver_node/target_position" to="/clicked_point"/>
    </node>

    <param name="robot_description" textfile="$(find tello_driver)/urdf/tello.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="log" respawn="false" respawn_delay="0">
    </node>

    <node pkg="rviz" type="rviz" name="rviz" output="log" respawn="false" respawn_delay="0" args="-d $(find tello_driver)/config/tello.rviz">
    </node>
</launch>